---
import UniversalAnimated from "./ui/framer-motion/UniversalAnimated";
import TrainingCard from "./ui/TrainingCard.astro";

const cards = [
    {
        title: "Корпоративные финансы",
        who: "Студенты и абитуриенты",
        color: "#ffba08",
        slug: "cfo-course",
        item: ["Финансовая грамотность", "Поиск и поддержка талантов"],
    },
    {
        title: "Мышление и Энергия",
        who: "Собственники и управленцы",
        color: "#f48c06",
        slug: "you-are-resource",

        item: [
            "Трансформация мышления",
            "Финансовые игры",
            "Тренинги по энергии денег",
        ],
    },
    {
        title: "Личный Капитал",
        who: "Личностный рост",
        color: "var(--oranzhevyy)",
        slug: "personal-capital",

        item: [
            "Создание личного капитала",
            "Стратегии сохранения",
            "Приумножения инвестиций",
        ],
    },
    {
        title: "Финансовый Архитектор",
        who: "VIP-Направление для бизнеса всех форм ",
        color: "#d00000",
        slug: "financial-architect",

        item: [
            "Глубокий анализ отчетов",
            "Внедрение систем учета",
            "Корпоративные финансы",
        ],
    },
];
---

<section class="TrainingMain" id="TrainingMain">
    <div class="container">
           <UniversalAnimated
                client:load
                type="scroll"
                direction="left"
                duration={0.87}
                delay={1.2}
            >
        <h2 class="h2">
            <span class="yellow">обучение</span>
        </h2>
    </UniversalAnimated>

        <div class="content">
            {
                cards.map((e, i) => (
                     <UniversalAnimated
                client:load
                type="scroll"
                direction="up"
                duration={0.87}
                delay={0.6 + i * 0.1}
            >
                    <TrainingCard
                        title={e.title}
                        color={e.color}
                        slug={e.slug}
                        item={e.item}
                        who={e.who}
                    /></UniversalAnimated>
                ))
            }
        </div>
    </div>
</section>

<style>
    .TrainingMain {
        padding: 130px 0;

        border-top: 1px solid #ffffff37;

        background: var(--chernyy);
    }
    .content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        gap: 10px;
        padding: 120px 0;
    }

    @media (max-width: 1024px) {
        .content {
            grid-template-columns: repeat(2, 1fr);
            padding: 90px 0;
        }
    }

    @media (max-width: 640px) {
        .content {
            grid-template-columns: repeat(1, 1fr);
            padding: 30px 0;
        }
    }
</style>
